<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADeR_dgBbK-qrIaOnOGOwhEe035yjr_Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>672895120333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mahfazty</string>
	<key>PROJECT_ID</key>
	<string>mahfazty-c7651</string>
	<key>STORAGE_BUCKET</key>
	<string>mahfazty-c7651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672895120333:ios:20ea27c73e6ccfe1510a84</string>
</dict>
</plist>